<h1>Editing Programs X University</h1>

<%= render 'form', programs_x_university: @programs_x_university %>

<%= link_to 'Show', @programs_x_university %> |
<%= link_to 'Back', programs_x_universities_path %>
